@model OrchardCore.Roles.ViewModels.RolesViewModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>@RenderTitleSegments(T["Roles"])</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">Home</a>
            </li>
            <li>
                @T["Security"]
            </li>
            <li class="active">
                <strong>@T["Roles"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4 m-b-xs">
                            <a asp-route-action="Create" class="btn btn-primary" role="button">@T["Add Role"]</a>
                        </div>
                        <div class="col-sm-3">
                            <form asp-action="Index" method="get" class="form-inline">
                                <div class="input-group">
                                    <input id="search-box" type="text" class="input-sm form-control" placeholder="@T["Search"]" autofocus="autofocus">  <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary">@T["Search"]</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <form asp-action="Index">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>User Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.RoleEntries.Count; i++)
                                    {
                                        <tr>
                                            <td><input type="checkbox" asp-for="RoleEntries[i].Selected" class="i-checks" /></td>
                                            <td>@Model.RoleEntries[i].Name</td>
                                            <td>
                                                <a class="edit btn btn-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@Model.RoleEntries[i].Name">@T["Edit"]</a>
                                                <a class="delete btn btn-danger btn-sm" asp-route-id="@Model.RoleEntries[i].Name" role="button" asp-action="Delete" itemprop="UnsafeUrl RemoveUrl">@T["Delete"]</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

